.header {
    /* crear header fijo */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* fondo del header */
    background-color: #50c0cc;
    /* sombra */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* altura del header */
    height: 60px;
    /* centrar contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding */
    padding: 0 40px;    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

a:hover {
    background-color: #77d8e3;
    
}