
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;

}


.row {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

}

.col {
  display: flex;
  flex-direction: column;
}